.blog-section{
  padding-top: 2em;
  padding-left: 3em;
  padding-right: 3em;
}

.blog-credits{
  text-align: right;
  margin-top: 1.6em;
  font-size: 1.2em;
  font-family: 'Julius Sans One', sans-serif;
  color: #111;
}

.green-link{
  text-decoration: none;
  color: #73e55b;
}
.green-link:hover{
  text-decoration: none;
  color: #73e55b;
}
.green-link:visited{
  text-decoration: none;
  color: #73e55b;
  border-bottom:0px solid #000;
}



/* Code Styles */
pre {
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;}

code {
font-family: Courier, 'New Courier', monospace;
font-size: 12px;}

#codeStyler {
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin: 1em 0;}

.computerGreen {
background-color: #000000;
color: green;}
