.navbar {
    background-color: #333;
    border-color: #333;
}
#NavigationBarImage{
  margin-top: -.5em;
  height: 220%;
  border-radius: 100% !important;
}

#homeLinkDiv{
  padding-top: 2em !important;
  margin-top: 3em !important;
}

#homeLink{
  text-decoration: none;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.2em;
  color: white;
}

#navLinks{
  text-decoration: none;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.2em;
}
a#navLinks{
  color: #eee
}

.nav > li > a:focus,
.nav > li > a:hover
{
    text-decoration: none;
    background-color: #73e55b;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #fff !important;
}
