html{

}
body{
  background-color: #fff;
  overflow-x: hidden;
}

.GreenText{
  color: #73e55b;
}

#content{
  min-height: 69vh;
}

hr{
  width: 80%;
}
hr#StyledHr {
  margin-top: 5em;
  height: 30px;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr#StyledHr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

#page-title{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 3em;
  color: #555;
}
#page-subtitle{
  margin-top: 1.6em;
  font-size: 1.8em;
  font-family: 'Josefin Slab', serif;
  line-height: 1.2em;
  color: #555;
  letter-spacing: .15em;
}

.section-header{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.8em;
  color: #333;
}
.section-text{
  margin-top: 1.6em;
  font-size: 1.2em;
  font-family: 'Josefin Slab', serif;
  line-height: 1.2em;
  color: #111;
  letter-spacing: .15em;
}
