{% extends "base.html" %}
{% block content %}
<div class="about-content">
  <div class="container">
    <center><p id="page-title">About</p></center>
    <center><p id="page-subtitle">This is where I talk about how awesome I am</p></center>
    <hr id="StyledHr" />
    <div class="about-section">
      <center><p class="section-header">Background</p></center>
      <p class="section-text">Steven here. Tech lover, all around awesome guy! Writer of fragments…. That’s me. Thanks for coming to check out my portfolio. I’ll tell you a little about myself. I was born in Barranquilla, Colombia, which is a city on the Atlantic coast of the South American country. My family and I emigrated to the US when I was still a little guy. I still remember that day like it was yesterday. I grew up in NYC and owe much of my way of being to that city. However, there came a point where I needed a change of scenery. So, I moved my self to the Phoenix area. It’s wonderful out here. It’s like a never ending summer, if you’re into that sort of thing. <br><br>
      I’ve dabbled in a few industries. I was a mail carrier for almost half a decade, I’ve worked in the auto industry. Recently, after thinking about it for years, I decided to take the plunge and go back to school for a career change. I’m currently pursuing a degree in software engineering. It’s been tough as a working adult, but it’s a challenge I relish. <br><br>
      I’m looking to get into the tech field in such a way that I can leverage my love of programming. I love back end programming, as well as user interface development and design. I’ve recently started working on freelance projects, as well as my own projects. They’ve taught me quite a bit. However, I’m excited to learn much more.</p>
    </div>
    <div class="about-section">
      <center><p class="section-header">Tech</p></center>
      <p class="section-text">I’ve always been fascinated with tech. Since I was a child, I always waned to know how things, especially technology, worked. At times I even wanted to take things apart and tinker with them. Unfortunately, that wasn’t always appreciated. HAHA…<br><br>
      As an adult, I was incredibly fascinated by the growth of the mobile platform, and the potential impact it would have on the world. After a couple of years of putting those thoughts to the side, I finally convinced myself to start dabbling in programming. Initially, I tried to pickup some Android development skills, which of course led me to some Java. I eventually realized, even though I was not getting very far, I was whole-heartedly enjoying what I was doing. At one point I decided I would pursue this new hobby, academically. <br><br>
      For a little over a year, I’ve mostly dabbled in and played with different languages. I’ve built small applications in Android, PHP and the Lamp stack, Ruby, the Rails framework, JavaScript, React and react Native, and most Recently Python and Flask. I’m as excited as ever. I’ve recently started to take on larger and more complex applications. As I grow as a developer, I realize even more, the power that software has. The limits are beyond reach. <br><br>
      <br>What is the coolest thing I’ve done in tech recently? <br><br><br>
      I recently set up an AWS EC2 instance, one of the images dedicated GPUs. I set it up with Windows Server and Steam, the gaming platform. Using remote access, a VPN, as well as Steams recent stream to feature, I was able to stream and play games like the Witcher 3 at a high setting, using my underpowered laptop which only only has integrated and underpowered graphics. There was no noticeable lag. It was fun to play the game, but even more fun learning to play with AWS EC2. The only draw back is those EC2 instances can get pricey if you leave them running for too long.<br><br>
      I look forward to learning even more. I’d like to spend some time working with Raspberry Pi, and perhaps learn a bit about robotics, or automation using micro-computers. Regardless of the path, if I can code it, I’ll be there. </p>
    </div>
    <div class="about-section">
      <center><p class="section-header">Hobbies</p></center>
      <p class="section-text">Hobbies are a strange thing. Whenever I’m asked, I never know what to respond with. Luckily, I have enough time to think about it while I write this. <br><br>
      I’m not sure if one can consider it a hobby, but I’ve been regularly working out for over a decade. I started weightlifting and running in my late teens. I’ve never been into body-building, or being the biggest guy in the room. I just enjoy the serenity found in the weight room. I also enjoy running at times, although lately, biking has taken ever much of my running time. <br><br>
      Food!!!!! Boy, I love food! It helps that I exercise so much, it helps control my weight when I binge something I really shouldn’t be having. <br><br>
      I love to read. I’m not the biggest fan of fiction. Instead, I prefer books on history and politics. Of course, I enjoy reading a technical book every once in a while as well. <br><br>
      The best book I’ve read recently was Fareed Zakaria’s “The Post-American World”.  It’s an interesting take on the coming multi-polar world, that as Americans living in the post World War and post Cold War era, we are most likely not ready for yet. </p>
    </div>
    <hr id="StyledHr" />
  </div>
</div>
{% endblock %}
