{% extends "base.html" %}
{% block content %}
<div class="about-content">
  <div class="container">
    <center><p id="page-title">Blog</p></center>
    <center><p id="page-subtitle">This is where you'll find my rants, raves, and general mental discharge.</p></center>
    <hr id="StyledHr" />
    <div class="blog-section">
      <center><p class="section-header">Why I Love Python</p></center>
      <p class="section-text">I won’t lie to you. I’m not a programming wizard, phenom, or whatever colloquial term you’d like to use to describe someone who can program themselves out of a dark room with their arms tied behind their backs. I’ve been programming for roughly a year(as of writing this blog post). You always hear that it’s best to focus on one language or framework and get good at it. I did the opposite. I’ve dabbled. I’ve dabbled quite a bit. Initially, what got me interested in programming was a desire to develop Android applications. Obviously, I jumped on the Android SDK train. Oh wait!!! I have to learn Java first. Ok. Let’s take a step back and learn Java. </p>
      <center> <p class="section-text"><a class="green-link" href="{{ url_for('blog041201701') }}"><b>More</b></a></p></center>
      <p class="blog-credits">April 12, 2017</p>
    </div>
    <hr id="StyledHr" />
    <div class="blog-section">
      <center><p class="section-header">React Native Setup</p></center>
      <center><div class="blog-media-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gzaH-UvWGzU?list=PL2g-DF7-WOZ4pzupMZfBJiDEh_OLRvBRy" frameborder="0" allowfullscreen></iframe>
      <div></center>
      <p class="section-text">A while back I decided to make a quick video lesson on how to setup a React Native development environment for Android on Linux. While I was able to find a ton of walk-throughs for Apple and ios setup, Android and Linux was lacking. <br><br>
      This should guide you from downloading and installing all the necessary dependencies, to bootstrapping and running your first React Native Android application. <br><br>
      Here’s a video of the first lesson. The link to the rest of the videos is <a class="green-link" href="https://www.youtube.com/playlist?list=PL2g-DF7-WOZ4pzupMZfBJiDEh_OLRvBRy"><b>here</b></a><br><br>
      Enjoy!!!!</p>
      <p class="blog-credits">April 8, 2017</p>
    </div>
    <hr id="StyledHr" />
    <div class="blog-section">
      <center><p class="section-header">Welcome</p></center>
      <p class="section-text">Congratulation. You’ve published your first blog!<br><br>
      Yes I know….. I coded it myself. I am aware. <br><br>
      While you’ll never accuse me of writing too much, I hope to and look forward to sharing some of the cool things I find along the way. While I intend to keep things programming related, I may at times share and write about things that relate to tech in one way or another. <br><br>
      Thanks for coming to check it out. I look forward to seeing you back here in the future. </p>
      <p class="blog-credits">April 7, 2017</p>
    </div>
    <hr id="StyledHr" />
  </div>
</div>
{% endblock %}
