{% extends "base.html" %}
{% block content %}
<div class="about-content">
  <div class="container">
    <center><p id="page-title">Contact</p></center>
    <center><p id="page-subtitle">If you'd like to reach me, here are the ways.</p></center>
    <hr id="StyledHr" />
      <center><p class="section-text">Currently the best way to reach me is by <a href="mailto:steven.antonio.dev@gmail.com" class="green-link">email.</a>
      <br>or
      <br><a href="https://www.facebook.com/steven.pastrana.376" class="green-link">Facebook</a> | <span><a href="https://twitter.com/steven_az" class="green-link">Twitter</a></span> | <span><a href="https://github.com/pastranastevenaz" class="green-link">Github</a></span></p></center>
    <hr id="StyledHr" />
  </div>
</div>
{% endblock %}
